@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1b1f;
  color: #e5e1e6;
}

.container {
  background-color: #302d37;
  color: #e6e1e5;
}

.container-variant {
  background-color: #47464f;
  color: #c9c5d0;
}

.primary {
  background-color: #c7bfff;
  color: #2a009f;
}

.primary-container {
  background-color: #4129ba;
  color: #e4dfff;
}

.secondary {
  background-color: #cdc2dc;
  color: #332d41;
}

.secondary-container {
  background-color: #433c52;
  color: #eddfff;
}

.tertiary {
  background-color: #9fcaff;
  color: #003258;
}

.tertiary-container {
  background-color: #00497d;
  color: #d1e4ff;
}

.error {
  background-color: #ffb4ab;
  color: #690005;
}

.error-container {
  background-color: #93000a;
  color: #ffdad6;
}

.outline {
  outline-color: #928f99;
}

.outline-variant {
  outline-color: #57545d;
}
