/* this page is common to owners and rental users*/

.amenities-container { 
    color: #7067E1;
    border-radius: 8px;
text-align: center;
  }

  .carousel {
    margin: 70px;
  }
  h5 {
    background-color:#7067E1 ;
    color: white;
  }
  p {
    background-color:#7067E1 ;
    color: white;
  }
  /* .amenities-header h1 {
    margin-bottom: 20px;
  }
  
  .amenity-item {
    margin-bottom: 15px;
  }
  
  .amenity-item h2 {
    font-size: 1.5em;
  }
  .badge {
    background-color: #7067E1 !important;
    color: white !important
  }
  
  
  .bg-dark {
    background-color: #9CCDFA !important;
    color: white !important
  } */
  
  /* Add more styles as needed */
  