/* this page is common to owners and rental users*/

#amenities-container {
  justify-content: center;
  align-items: center;
  background-color: white;
}

  .carousel {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
  }

  #amenities {
  color: #7067E1 !important;
  font-weight: bold;
  }

  #indoor-adult-pool, #indoor-children-pool, #spa, #lounge, #playground, #time-children-pool, #time-adult-pool, #time-spa, #time-resto, #time-playground, #time-bar {
    background-color:#7067E1 ;
    border-radius: 15px;
  }
  
#back-button {
  border-radius: 20px;
  margin: 20px;
}

  .carousel-control-prev {
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    
  }
  .carousel-control-next {
    margin-bottom: 40px;
    color: #7067E1;
    font-weight: bolder;
    
  }
 
  