.dashboard {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
  }
  .logo {
    width: 160px;
    height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
}
  .dashboard-header {
   
    padding: 10px;
    border-radius: 5px;
  }
  
.badge-size {
  font-size: 15px !important;
}
  .financial-overview {
    
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  

  .payment-status {
    
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .btn-outline-primary {
    background-color:  #7067E1 !important;
    color: white !important; 
    border: #7067E1;
  
}

.button {
    border-radius: 20px;
    margin: 20px ;
  }
  