/* PropertiesProfile.css */
/* Styles for the heading */

  /* FormComponent.css */
  .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    width: 250px;
    margin: auto;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    outline: none;
}

.error {
    color: red;
    margin-bottom: 20px;
}


.link {
    color: blue;
    cursor: pointer;
}
textarea {
    padding: 50px;
    max-width: 170px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
  }
  .button-container {
    display: flex;
}
.create-property-button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: -1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }
 
 .create-property-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;

  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .create-property-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 

/* CardContainer */

.container2 {
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .card {
    background:white;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 100%;
  }
  
  .title {
    color:black;
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
  }

  /* button css for file upload */
  .buttonDiv{
    padding-top: 0.15rem;
    padding-bottom: 0.55rem;

  }

  .buttonUpload {
    border: none;
    display: flex;
    padding: 0.55rem 3.75rem;
    background-color: #C7BFFF;
    color: #000000;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
  }
  
  .buttonUpload:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  
  .buttonUpload:focus,button:active {
    opacity: .85;
    box-shadow: none;
  }
  
  .buttonUpload svg {
    width: 1.25rem;
    height: 1.25rem;
  }


  .file_item{
    display: flex;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    color: black;
    
  }

  .file_item:hover {
    color: #C7BFFF;
  }

  .file-actions{
    justify-content: center;
    margin: 0;
  }

  .icon{
    align-self: center;
    width: 20px;
    height: 20px;
    margin-right: 25px;

  }
  